/* Following Background picture and styling */
.container {
  background-image: url(../images/absrtk_bckgrd.jpg);
  background-size: 94%;
  background-attachment: fixed;
}

.member {
  display: block;
  position: relative;
  margin-top: 40px;
}

.header {
  display: block;
  position: relative;
  line-height: 120px;
  background: blue;
  color: white;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 800;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-radius: 6px;
}

.header:hover {
  border-color: #ff99ff;
}

/* Following is menu */
/* Following responsive avatars */
.avatar-img {
  display: block;
  position: relative;
  width: 240px;
  height: auto;
  border-radius: 120px;
  border: 3px solid blue;
}

.avatar-img:hover {
  border: 3px solid white;
  border-radius: 10px;
  transition-duration: 0.3s;
}

/* Responsive wrapper */
.text-wrapper {
  margin: 10px auto;
  background: #ffffff;
  padding: 15px 0;
  border-top-left-radius: 25px;
  border-bottom: 4px solid #05BD22;
  border-radius: 6px;
}

.text-wrapper:hover {
  border-color: #ff99ff;
}

.text-jst {
  display: block;
  position: relative;
  text-align: justify;
  width: 94%;
  margin: 0 auto;
}

.text-jst {
  display: block;
  position: relative;
  text-align: justify;
}

/* The following portion styles Goal card with skills */
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #05BD22;
  border-radius: 6px;
}

.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

/* Following li elements (skills2-skills10) styled in the
 DC Comics Green Lantern + all other Lanterns colors */
.skills2 {
  border-radius: 6px;
  display: inline-block;
  background: #F21508;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills3 {
  border-radius: 6px;
  display: inline-block;
  background: #F6A123;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills4 {
  border-radius: 6px;
  display: inline-block;
  background: #E0DA48;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills5 {
  border-radius: 6px;
  display: inline-block;
  background: #008000;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills6 {
  border-radius: 6px;
  display: inline-block;
  background: #0C94C5;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills7 {
  border-radius: 6px;
  display: inline-block;
  background: #AF7AC5;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills8 {
  border-radius: 6px;
  display: inline-block;
  background: #C50CB2;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills9 {
  border-radius: 6px;
  display: inline-block;
  background: #000000;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills10 {
  border-radius: 6px;
  display: inline-block;
  background: #E5E7E9;
  color: black;
  padding: 5px 10px;
  margin: 2px;
}

/* Following is styling and place for custom svg's for each Co-Founder, so far only mine. However mine not working. I had mine working on another web page, but can't get to show up for some reason. I will keep trying*/
footer {
  background: black;
  color: white;
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  font-size: 20px;
}

footer {
  background-color: white;
  margin: 10px;
  height: 110px;
  clear: both;
  color: green;
  text-align: center;
  padding: 15px;
  font-size: 90%;
}

/* a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  background-size: 25px 25px;
  opacity: .75;
  transition: all .25s;
} */

.twitter {
  padding: 0px;
  width: 40px;
  text-decoration: none;
}
.twitter:hover {
  opacity: 0.7;
}
.twitter {
  color: white;
}

a.linkedin {
  background-image: url(images/linkedin4.svg);
}

a.github {
  background-image: url(images/Octocat11.svg);
}

a.social:hover {
  opacity: 1;
}

.clearfix {
  clear: both;
}
