/* Following Background picture and styling */
.container {
  background-image: url(../images/absrtk_bckgrd.jpg);
  background-size: 94%;
  background-attachment: fixed;
  border: 1px solid black;
}

.member {
  display: block;
  position: relative;
  margin-top: 40px;
}

.header {
  display: block;
  position: relative;
  line-height: 120px;
  background: blue;
  color: white;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 800;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-radius: 6px;
}

.header:hover {
  border-color: #ff99ff;
}

/* following nav menu test 12-19-19 sw */
/* a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: #6633ff;
}

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 5px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
} */
/* above for nav menu 12-19-19 sw */

/* below is  test.4 for responsive nav menu 12-19-19 sw */
ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
    background-color: #000;
}

ul.horizontal li a.active {
    background-color: #F827F6;
}

ul.horizontal2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul.horizontal2 li {
    float: left;
}

ul.horizontal2 li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal2 li a:hover:not(.active) {
    background-color: #ddd;
}

ul.horizontal2 a.active {
    color: white;
    background-color: #0AF6FB;
}
/* above is  test.4 for responsive nav menu 12-19-19 sw */

/* Following responsive avatars */
.avatar-img {
  display: block;
  position: relative;
  width: 240px;
  height: auto;
  border-radius: 120px;
  border: 3px solid blue;
}

.avatar-img:hover {
  border: 3px solid white;
  border-radius: 10px;
  transition-duration: 0.3s;
}

/* Responsive wrapper */
.text-wrapper {
  margin: 10px auto;
  background: #ffffff;
  padding: 15px 0;
  border-top-left-radius: 25px;
  border-bottom: 4px solid #05BD22;
  border-radius: 6px;
}

.text-wrapper:hover {
  border-color: #ff99ff;
}

.text-jst {
  display: block;
  position: relative;
  text-align: justify;
  width: 94%;
  margin: 0 auto;
}

.text-jst {
  display: block;
  position: relative;
  text-align: justify;
}

/* The following portion styles Goal card with skills */
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #05BD22;
  border-radius: 6px;
}

.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

/* Following li elements (skills2-skills10) styled in the
 DC Comics Green Lantern + all other Lanterns colors */
.skills2 {
  border-radius: 6px;
  display: inline-block;
  background: #F21508;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills3 {
  border-radius: 6px;
  display: inline-block;
  background: #F6A123;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills4 {
  border-radius: 6px;
  display: inline-block;
  background: #E0DA48;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills5 {
  border-radius: 6px;
  display: inline-block;
  background: #008000;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills6 {
  border-radius: 6px;
  display: inline-block;
  background: #0C94C5;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills7 {
  border-radius: 6px;
  display: inline-block;
  background: #AF7AC5;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills8 {
  border-radius: 6px;
  display: inline-block;
  background: #C50CB2;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills9 {
  border-radius: 6px;
  display: inline-block;
  background: #000000;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills10 {
  border-radius: 6px;
  display: inline-block;
  background: #E5E7E9;
  color: black;
  padding: 5px 10px;
  margin: 2px;
}

/* Following is styling for custom svg's for each Co-Founder's, so far only mine. */
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}



footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social:hover {
  opacity: 1;
}

.clearfix {
  clear: both;
 }
