/* Following Background picture and styling */
.container {
  background-image: url(../images/absrtk_bckgrd.jpg);
  background-size: 94%;
  background-attachment: fixed;
  border: 1px solid black;
}

.member {
  display: block;
  position: relative;
  margin-top: 40px;
}

.header {
  display: block;
  position: relative;
  line-height: 120px;
  background: blue;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px #F827F6; 
  font-size: 35px;
  font-weight: 800;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-radius: 6px;
}

.header:hover {
  border-color: #ff99ff;
}

/* below is nav menu styling 12-24-19 12pm sw */
ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.horizontal li {
  float: left;
}

ul.horizontal li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
  background-color: #000;
}

ul.horizontal li a.active {
  background-color: #F827F6;
}

ul.horizontal2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

ul.horizontal2 li {
  float: left;
}

ul.horizontal2 li a {
  display: inline-block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.horizontal2 li a:hover:not(.active) {
  background-color: #ddd;
}

ul.horizontal2 a.active {
  color: white;
  background-color: #0AF6FB;
}

/* Following responsive avatars */
.avatar-img {
  display: block;
  position: relative;
  width: 240px;
  height: auto;
  border-radius: 120px;
  border: 3px solid blue;
}

.avatar-img:hover {
  border: 3px solid white;
  border-radius: 10px;
  transition-duration: 0.3s;
}

/* Responsive wrapper */
.text-wrapper {
  margin: 10px auto;
  background: #ffffff;
  padding: 15px 0;
  border-top-left-radius: 25px;
  border-bottom: 4px solid #05BD22;
  border-radius: 6px;
}

.text-wrapper:hover {
  border-color: #ff99ff;
}

.text-jst {
  display: block;
  position: relative;
  text-align: justify;
  width: 94%;
  margin: 0 auto;
}

.text-jst {
  display: block;
  position: relative;
  text-align: justify;
}

/* The following portion styles Goal card with skills */
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #05BD22;
  border-radius: 6px;
}

.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

/* Following li elements (skills2-skills10) styled in the
 DC Comics Green Lantern + all other Lanterns colors */
.skills2 {
  border-radius: 6px;
  display: inline-block;
  background: #008000;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills3 {
  border-radius: 6px;
  display: inline-block;
  background: #F6A123;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills4 {
  border-radius: 6px;
  display: inline-block;
  background: #E0DA48;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills5 {
  border-radius: 6px;
  display: inline-block;
  background: #F21508;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills6 {
  border-radius: 6px;
  display: inline-block;
  background: #0C94C5;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills7 {
  border-radius: 6px;
  display: inline-block;
  background: #AF7AC5;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills8 {
  border-radius: 6px;
  display: inline-block;
  background: #C50CB2;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills9 {
  border-radius: 6px;
  display: inline-block;
  background: #000000;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills10 {
  border-radius: 6px;
  display: inline-block;
  background: #E5E7E9;
  color: black;
  padding: 5px 10px;
  margin: 2px;
}

/* Following is styling for custom svg's for each Co-Founder's, so far only mine. */
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.clearfix {
  clear: both;
}

/* SOCIAL ICONS of Co-Founder's 12-24-19 418pm */
.social {
  margin: 0px auto;
  width: 240px;
}

.social li a {
  display: inline;
  margin: 0px auto;
}

.social li a {
  height: 48px;
  position: relative;
  text-decoration: none;
}

.social li a strong {
  font-weight: normal;
  position: absolute;
  left: 20px;
  top: -1px;
  color: #fff;
  padding: 3px;
  z-index: 9999;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.7);
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* SOCIAL ICONS - CSS3 */
#css3:hover li {
  opacity: 0.2;
}

#css3 li {
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 500ms;
  -moz-transition-property: opacity;
  -moz-transition-duration: 500ms;
}

#css3 li a strong {
  opacity: 0;
  -webkit-transition-property: opacity, top;
  -webkit-transition-duration: 300ms;
  -moz-transition-property: opacity, top;
  -moz-transition-duration: 300ms;
}

#css3 li:hover {
  opacity: 1;
}

#css3 li:hover a strong {
  opacity: 1;
  top: -10px;
}
